@import '~antd/dist/antd.css';

.App {
  text-align: center;
  width: 99% !important;
}
/*  */
/* Common Css */
/*  */
.mauto{
  margin: auto !important;
}
.mt10{
  margin-top: 10px !important;
}
.mt20{
  margin-top: 20px !important;
}
.mb20{
  margin-bottom: 20px !important;
}
.m10{
  margin: 10px;
}
/*  */
/* NavBar CSS */
/*  */
.nav-container{
  width: 100% !important;
  height: 7.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  background-color: #fff;
  z-index: 99;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.logo{
  width: 50px;
  height: 50px;
  margin-left: 30px;
}
.nav-btn-container{
  width: 60%;
 display: flex;
 justify-content: right !important;
 align-items: flex-end !important;
}
.nav-button{
  width: 20% !important;
  margin-right: 20px;
  background-color: rgb(111, 81, 230);
}

@media (max-width: 767px) {
  .nav-button{
    width: 100px !important;
    margin-right: 20px;
    background-color: rgb(111, 81, 230);
  }
}

/*  */
/* Login page Css */
/*  */
.login-container{
  width: 30%;
  height: 50vh;
  margin: auto;
  margin-top: 8vh !important;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: left;
  border-radius: 8px;
}
.ant-input:hover{
  border: 1px solid rgb(111, 81, 230) !important;
}
.ant-btn-primary{
  background-color: rgb(111, 81, 230) !important;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .login-container{
    width: 90%;
    box-shadow:none;
  }
}
/*  */
/* Home Page Css */
/*  */
.home-container{
  width: 30%;
  margin: auto;
  margin-top: 8vh;
  position: relative;
  z-index: 1;
}
.user-card{
border: 1px solid rgb(111, 81, 230) !important;
border-radius: 10px;
position: relative;
z-index: 1;
}
.user-img{
  border-radius: 25px;
}
@media (max-width: 1000px) {
  .home-container{
    width: 90%;
    margin: auto;
    margin-top: 7.5vh;
  }
}
.error{
  color: red;
  font-size: 12px;
}